/*######### ENTIRE WEBSITE ##########*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Consolas', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none; /* Entfernt die Unterstreichung der Links */
}

body {
    display: flex;
    justify-content: center;
    background-color: black;
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Mindesthöhe des Viewports */
    overflow-x: hidden; /* Verhindert horizontales Scrollen */
}

/*########## CONTENT ##########*/

/* CONTENT TITLE */

.content {
    color: white;
    width: 50%;
    margin-top: 0vh;
}

.content-title {
    border-bottom: 0.1vw white dashed;
    width: 100%;
    font-size: 1.2vw;
    font-weight:bold;
}

.t1{color: #61bb46}
.t2{color: #fdb827}
.t3{color: #f5821f}
.t4{color: #e03a3e}
.t5{color: #963d97}
.t6{color: #009ddc}

/* CONTENT BOXES */

.content-box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    gap: 4%;
    margin-top:4%;
    border-bottom: 0.1vw white dashed;
}

.content-box {
    width: 48%;
    border: 0.1vw white dashed;
    padding: 2%;
    font-size: 1vw;
    margin-bottom: 4%
}

.content-box .title {
    margin-bottom: 4%;
    font-weight: bold;
}

.red {
    color: rgb(255, 107, 107);
}

.green {
    color: rgb(92, 184, 92);
}

.purple {
    color: rgb(204, 68, 204);
}

.yellow {
    color: rgb(255, 255, 113);
}

.blue {
    color: rgb(71, 123, 255);
}

.content-box .link:hover {
    transition: all ease 1;
    filter: brightness(0.5);
}

.content-box .text .spaced {
    margin-top: 4%;
    margin-bottom: 4%;
}

.content-box .instagram {color: #C13584}
.content-box .linkedin {color: #0a66c2}
.content-box .github {color: #2dba4e}

/* PROJECT */

.project-title {
    width: 100%;
    padding-top: 4%;
    padding-bottom: 4%;
    border-bottom: 0.1vw white dashed;
}

/* FOOTER */

.footer {
    width: 100%;
    font-size: 0.8vw;
    color: gray;
    padding-top: 4%;
    padding-bottom: 4%;
}